
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Maven Pro", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  
}

header {
  height: 134.91px;
  background-color:#2A2A2A;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 50px;
}

.bnt-hm {
  margin-left: 1250px;
  background-color: #181818;
  border: #333;
  border-radius: 5px;
  height: 30px;
  width: 50px;
}

.bnt-hm:hover{
  background-color: #555353;
  transition-duration: 0.5s;
}

.head-itens{
  margin-left: 700px;
  background-color: #2A2A2A;
  font-family: "Maven Pro", sans-serif;
  
  
}

.head-itens ul {
  display: flex;
  gap: 15px;
}

.head-itens li {
  list-style-type: none;
  

}
.navbar-itens {
  border: 1px solid #FED001 ;
  background-color: #2A2A2A;
  text-decoration: #FED001;
  height: 48px;
  width: 100px;
  color: #FED001 ;
  font: bold;
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  padding: 10px;
}



.intro {
position: absolute;
width: 1440px;
height: 550px;
left: 0px;
top: 132px;
background: linear-gradient(180deg, #FFFFFF 0%, #FFFF38 100%);

}

.text-intro {
  width: 557px;
  left: 82.5px;
  font-family: Maven Pro;
  font-size: 68px;
  font-weight: 600;
  line-height: 91.8px;
  text-align: left;
  margin-top: -470px;
  margin-left: 80px;
}

.int-butt {
  background-color: #FED001;
  border: #181818;
  border-radius: 5px;
  margin-left: 80px;
  margin-top: 30px;
  list-style: none;
  margin-right: 1250px;
  text-align: center;
  padding: 10px;
}


.tit {
  text-align: center;
  margin-top: 600px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 91.8px;
  


}
 
.curso {
  margin-top: 50px;
  display: inline-block;
  

}


.desing{
 margin-left: 95px;
 
}
.tit-d {
  text-align: center;
  margin-right: 990px;
  font-size: larger;
  margin-left: -100px;
  font-weight: 600;
}
.text-d {
  text-align:justify ;
  margin-right: 875px;
  margin-top: 20px;

}


.front{
  margin-left: 500px;
  margin-top: -335px;
}

.tit-f {
  text-align: center;
  margin-right:500px;
  font: bold;
  font-size: larger;
  margin-left: -165px;
  font-weight: 600;
  
}
.text-f {
  text-align:justify ;
  margin-right:475px;
  margin-top: 20px;
}



.back{
  margin-left: 900px;
  margin-top: -360px;

}
.tit-b {
  text-align: center;
  font: bold;
  font-size: larger;
  margin-left: -265px;
  font-weight: 600;
}
.text-b  {
  text-align:justify ;
  margin-top: 20px;
  margin-right: 70px;
}

.b-curso{
  background-color: #FED001;
  border: #181818;
  border-radius: 5px;
  margin-left: 600px;
  margin-top: 30px;
  list-style: none;
  margin-right: 600px;
  text-align: center;
  padding: 10px;
  font-weight: 600;

}

.nossa-esc {
  background-color: #003464;
  margin-top: 100px;

}



.tit-esc {
  text-align: center;
  color: #f9f9f9;
  margin-top: -500px;
  margin-left: 500px;
  font-weight: 600; 
  font-size: 40px;
}

.text-n {
  color: #f9f9f9;
  margin-left: 800px;
  text-align: justify;
  margin-right: 75px;
  margin-top: 75px;
  margin-bottom: 97px;
  background-color: #003464;
}

.aux {
  margin-top: -1000px;
  margin-bottom: 500px;
}

.tit-cont {
  text-align: center;
  font-weight: 600;
  font-size: 40px; 
  margin-top: 50px;
  margin-bottom: 50px;

}

.text-cont {
  text-align:right;
  margin-right: 120px;

}

.ul-c {
  list-style: none;
}

.footer {
  margin-top: 50px;
  background-color: #2A2A2A;
  height: 100px;
  text-align: center;
}

.text-foot {
  text-align: center;
  color: #f9f9f9;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

